<!DOCTYPE html>
<html>
    <style>

    .responsive {
        width: 100%;
        height: auto;
        
    }
    
    </style>


  <body  >
    <div class="container" >
        <div class="row">
            <div class="col-lg-8  offset-lg-2">
                <nav> <span> <h3 class="mt-5" >Your AI Trainer</h3></span>
                    <span>made by pradeep odela</span>
                   
                    </nav>
               
                <h3 style="color: white;"><a href="https://github.com/pradeepodela">Code</a></h3>
                <h3><a href="https://www.linkedin.com/in/pradeepodela/">contact</a></h3>
                <img src="{{ url_for('video_feed') }}"class = responsive>
            </div>
        </div>
    </div>
    <div>
       
    </div>
    </body>


</html>